
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
}
:root {
  --darkBg: #2f2f2f;
  --whiteColor: #d5d5d5;
  --lightdarkBg: #383838;
  --green: rgba(148, 199, 86, 0.7);
  --imgSun: url("../img/light_mode_white_24dp.svg");

/*lightmode*/
  --lightgreen: #94c756;
  --lighterBg: #ffffff;
  --lightBg: #f5f5e9;
  --black: black;
  --imgMoon: url("../img/dark_mode_black_24dp.svg");

}
.lightmode {
  --bgColor: var(--lighterBg);
  --fontColor: var(--black);
  --containerBg: var(--lightBg);
  --headingBg: var(--lightgreen);
  --modeIcon: var(--imgMoon);


}
.darkmode {
  --bgColor: var(--darkBg);
  --fontColor: var(--whiteColor);
  --containerBg: var(--lightdarkBg);
  --headingBg: var(--green);
  --modeIcon: var(--imgSun);


}

html {
  background-color: var(--bgColor);
  color: var(--fontColor);
}


/*----------- Grid System ----------*/
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.col {
  float: left;
  width: 33.33%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-top: 3%;
}

@media (max-width: 1024px) {
  .col { width: 50%; }
}

@media (max-width: 768px) {
  .col { width: 100%; }
}

@media (max-width: 425px) {
  #nav { position: absolute; }
  .col { width: 100%;
          margin-top: 10%; }
  .container { width: 95%; }
  .flex-container { min-height: 5%; }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* -------------header----------------- */
#header_container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--containerBg);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1%;
  border-radius: 10px 10px 10px 10px;
}

.header_col {
  float: left;
  width: 15%;
}
.header_col2 {
  float: right;
  width: 85%;
  padding-left: 2%;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 1440px) {
  .header_col {  width: 20%; }
  .header_col2 { width: 80%; }
}

@media (max-width: 1024px) {
  #header_container { margin-top: 10%; }
  .header_col { width: 100%;
                display: grid;
                justify-content: center; }
  .header_col2 {width: 100%; }
}

@media (max-width: 425px) {
  #header_container { margin-top: 5%;
                      width: 90%; }
}

/* ---------Navigationsleiste------------ */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--containerBg);
  z-index: 1;
}
.homebutton {
  text-decoration: none;
  color: var(--fontColor);
  padding-left: 2%;
  padding-right: 2%;


}
.homebutton:hover {
  font-size: 105%;
}
#footer {
  position: absolute;
  margin-top: 5%;
}
#footer_impressum {
  position: absolute;
  bottom: 0;
}
.lightmodebutton {
  background-color: var(--containerBg);
  width: 26px;
  height: 26px;
  border: none;
}
#hoverimg:hover {
  width: 26px;
  height: 26px;
}


/* Jumper */

.jumper {
  background-color: rgba(56, 56, 56, 0.9);
  text-decoration: none;
  position: fixed;
  width: 48px;
  height: 48px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
}
.jumper_icon {
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
.jumper:hover {
  background-color: rgba(56, 56, 56, 1.0);
}
.jumper_icon:hover {
  opacity: 0.8;
}
/* --------- Styling -------------- */

.ueberschrift {
  margin-bottom: 0;
  background-color: var(--headingBg);
  display: flex;
  min-height: 70px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ueberschrift > h2 {
  margin-bottom: 0;
  margin-top: 0;

}
.unterschrift {
  padding: 5% 5% 5% 5%;
  background-color: var(--containerBg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.unterschrift > p {
  text-align: left;
  margin-top: 0;
}
.button {
  background-color: var(--containerBg);
  border-bottom: 1px solid var(--fontColor);
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  color: var(--fontColor);
}
.button:hover {
  border: 1px solid var(--fontColor);
}
#img {
  background-image: var(--modeIcon);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* --------- Impressum ----------- */

.impressum {
  width: 50%;
  background-color: var(--containerBg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 1%;
  text-align: center;
  color: var(--fontColor);
}
@media (max-width: 425px) {
  .impressum { margin-top: 5%; }
}

/*------------ Artikel ------------*/
.containerArticle {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  background-color: var(--containerBg);
  padding: 3%;
}

section {
  border-top: 2px solid var(--fontColor);
  margin-top: 3%;
}
.scrollmenu::-webkit-scrollbar {
  background-color: #333;
  overflow: scroll;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .containerArticle { width: 90%; }
  #footer_impressum {
    position: relative;
    margin-top: 3%;
  }
}
